@import "bourbon";
@import "mixins";

$body:#444;
$light: #ededed;
$med:#999;
$dark:#666;
$blue:#00658b;
$hover:lighten($blue, 14);

$bold: 700;
$light: 400;


*
	{
	box-sizing:border-box;
	}

body
	{
	font-family:'Glegoo', helvetica, arial, sans-serif;
	font-size:1em;
	font-weight:$light;
	color:$body;

	}

h1, h2, h3
	{
	font-weight:$bold;
	color:$body;
	}

ul
	{
	margin:0px;
	padding:0px;

	li
	{
	list-style-type:none;
	}

	}

a
	{
	color:$blue;
	@include hoverer($blue);
	text-decoration:none;
	transition:color .2s ease-in, background .2s ease-in;

		&:hover
		{
		@include hoverer($hover);
		}

	}

a
	{
	img
		{
		border:0px;
		}
	}

strong
	{
	font-weight:700;
	}

.clearfix
	{
	@include clearfix;
	 }

.main-content
	{
	@include spanner_too (12, 1200, 0, 12);
	max-width:em(600);
	margin:0 auto;
	}

.twitter-avatar-container
	{
	width:50px;
	height:50px;
	border:1px solid red;

				@media screen and (max-width:em(550))
				{
				width:40px;
				height:40px;
				}

	}


.watchers-list-container
{
border:1px solid blue;

}

/*SINGLE TWEET STYLES */

.tweet-stream-single
	{
	border:1px solid red;
	clear:both;
	}


.twitter-avatar-container
	{
	float:left;
	margin:0 10px 0 0;
	}

.tweet-content
	{
	border:1px solid red;
	display:table-cell;

		h2
		{
		font-size:em(16);
		margin:0 0 8px 0;
		line-height:100%;

			@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}
		}
	}

.tweet-link
	{
	text-align:right;
	font-size:em(14);
	font-weight:$bold;

				@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}
	}

.tweet-body
	{
	line-height:155%;

				@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}

	}


	/*VERIFICATIONS CONTROLS */

.verification-controls
	{
	width:100%;
	border:1px solid gray;
	@include clearfix;
	}

.input_radios
	{
	width:100%;

	li
		{
		@include spanner_too (3, 800, 0, 1);
		border:1px solid red;
		display:inline-block;
		margin:0px -5px 0 0;
		}

	}



.notes-label
	{
	display:block;
	font-weight:$bold;
	color:$med;
	text-transform:uppercase;
	}

.notes
	{
	width:100%;
	-webkit-appearance:none;
	height:50px;
	box-shadow: none !important;
	border:1px solid $light;
	padding:0 0 0 20px;
	font-size:em(16);
	color:$med;
	}

.submit-button
	{
	width:150px;
	height:50px;
	background-color:$blue;
	color:white;
	border:0px;
	font-weight:$bold;
	float:right;
	}


:root .css3-radios input[type="radio"]
{
    opacity: 0;
    position: absolute;
}


.radio-button
	{
	width:100px;
	height:100px;
	display:block;
	border:1px solid blue;


	}


/*
:root .css3-radios label,
:root .css3-radios input[type="radio"] + span,
:root .css3-radios input[type="radio"] + span::before,
:root .css3-checkboxes label,
:root .css3-checkboxes input[type="checkbox"] + span,
:root .css3-checkboxes input[type="checkbox"] + span::before
{
    display: inline-block;
    vertical-align: middle;
}

:root .css3-radios,
:root .css3-checkboxes
{
    position: relative;
}

:root .css3-radios label *,
:root .css3-checkboxes label *
{
    cursor: pointer;
}

:root .css3-radios input[type="radio"],
{
    opacity: 0;
    position: absolute;
}

:root .css3-radios input[type="radio"] + span,
:root .css3-checkboxes input[type="checkbox"] + span
{
    color: $med;
}

:root .css3-radios label:hover span::before,
{
    box-shadow: 0 0 2px $med;
}

:root .css3-radios label:hover span,
{
    color: $body;
}

:root .css3-radios input[type="radio"] + span::before,
{
    content: "";
    border: solid 1px $med;
    line-height: 14px;
    text-align: center;
    display:inline-block;
	width: 24px;
	height: 24px;
	margin: -3px 8px 0 0;
	background-color:white;

    			@media screen and (min-width:em(800))
				{
				 width: 20px;
				height: 20px;
				margin: -4px 8px 0 0;
				}

}

:root .css3-radios input[type="radio"]:checked + span::before,
{
    color: $med;
}

:root .css3-radios input[type="radio"]:disabled + span,
{
    cursor: default;
    opacity: .4;
}


:root .css3-radios input[type="radio"]:checked + span::before
{
    content: "\2022";
    font-size: 24px;
}
*/


/* WATCHERS */





