@import "bourbon";
@import "mixins";

$body:#444;
$lightg: #ededed;
$med:#999;
$dark:#666;
$blue:#00658b;
$hover:lighten($blue, 14);

$bold: 700;
$light: 400;


*
	{
	box-sizing:border-box;
	}

body
	{
	font-family:'Glegoo', helvetica, arial, sans-serif;
	font-size:1em;
	font-weight:$light;
	color:$body;
	margin:0px;

	}

h1, h2, h3
	{
	font-weight:$bold;
	color:$body;
	}

ul
	{
	margin:0px;
	padding:0px;

	li
	{
	list-style-type:none;
	}

	}

a
	{
	color:$blue;
	@include hoverer($blue);
	text-decoration:none;
	transition:color .2s ease-in, background .2s ease-in;

		&:hover
		{
		@include hoverer($hover);
		background-color:transparent;
		}

	}

a
	{
	img
		{
		border:0px;
		}
	}

strong
	{
	font-weight:700;
	}

.button
	{
	width:150px;
	height:50px;
	background-color:$blue;
	color:white;
	border:0px;
	font-weight:$bold;
	text-align:center;
	display:block;
	background-image:none;
	cursor:pointer;
	border-radius:2px;

	font-size:em(12);
	letter-spacing:.04em; 

		&:hover
		{
		background-color:$hover;
		background-image:none;

		}
	}

.fake-button
	{
	padding-top:16px;
	color:white !important;
	display:block;
	}

.wide-button
	{
	width:248px;
	float:none;
	margin:0 auto 20px;
	}

.small-button
	{
	width:120px;
	display:inline-block;
	color:white !important;
	padding:16px 0 0 0;
	font-size:em(14.5) !important;
	}

.secondary-button
	{
	background-color:$med;

		&:hover
		{
		background-color:$hover;
		}


	}

.form-field
	{
	width:100%;
	-webkit-appearance:none;
	height:50px;
	box-shadow: none !important;
	border:1px solid $med;
	padding:0 0 0 20px;
	font-size:em(16);
	color:$dark;
	margin:0 0 30px 0;
	-moz-box-shadow: inset 0 0 0 #000000;
	-webkit-box-shadow: inset 0 0 0 #000000;
	box-shadow: inset 0 0 0 #000000;

	}

.form-label
	{
	font-size:em(16);
	color:$dark;
	font-weight:$bold;
	display:block;
	margin:0 0 5px 0;

	}

.clearfix
	{
	@include clearfix;
	 }

.main-content
	{
	@include spanner_too (12, 1200, 0, 12);
	max-width:em(600);
	margin:0 auto;
	}

.twitter-avatar-container
	{
	width:50px;
	height:50px;
	border:1px solid red;

				@media screen and (max-width:em(550))
				{
				width:40px;
				height:40px;
				}

	}




/*SINGLE TWEET STYLES */

.tweet-stream-single
	{
	border:1px solid red;
	clear:both;
	}


.twitter-avatar-container
	{
	float:left;
	margin:0 10px 0 0;
	}

.tweet-content
	{
	border:1px solid red;
	display:table-cell;

		h2
		{
		font-size:em(16);
		margin:0 0 8px 0;
		line-height:100%;

			@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}
		}
	}

.tweet-link
	{
	text-align:right;
	font-size:em(14);
	font-weight:$bold;

				@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}
	}

.tweet-body
	{
	line-height:155%;

				@media screen and (max-width:em(550))
				{
				font-size:em(14);
				}

	}


	/*VERIFICATIONS CONTROLS */

.verification-controls
	{
	width:100%;
	border:1px solid gray;
	@include clearfix;
	}

.input_radios
	{
	width:100%;

	li
		{
		@include spanner_too (3, 800, 0, 1);
		border:1px solid red;
		display:inline-block;
		margin:0px -5px 0 0;
		}

	}



.notes-label
	{
	display:block;
	font-weight:$bold;
	color:$med;
	text-transform:uppercase;
	}

.notes
	{
	@extend .form-field;
	}




/* WATCHERS */

.watchers-list-container
	{

	}

.watchers-list-head
	{
	font-size:em(22);
	font-weight:$bold;
	margin:0 0 40px 0;
	text-align:center;

	}

.new-watcher-button
	{
	float:none;
	width:250px;
	margin:0 auto 20px;
	}


.add-new-head
	{
	@extend .watchers-list-head;
	font-size:em(22);

	}



.form-field-entries
	{

		li
		{
		}

	}


.back-link
	{
	@extend .button;
	@extend .fake-button;
	@extend .secondary-button;
	margin:0 auto;

	}


.actions
	{
	text-align:center;
	margin:0 0 40px 0 !important;
	border-bottom:1px solid $lightg;
	padding:0 0 30px 0;
	}

	.filters {
	    border-bottom:1px solid #eee;
	    margin-bottom:2em;
	    padding:1em;
	    text-align:center;
	    .facets {
	        margin:0;
	        dt {
	            color:$med;
	            font-weight:$bold;
	        }
	        dd, dt {
	            display:inline-block;
	            font-size:0.875em;
	            font-weight:300;
	            text-transform:uppercase;
	            a {
	            		background-image:none;
	                color:#00658B;
	                padding:3px 8px;
	                border-radius: 2px;
	                &:hover {
	                   background:#eee;
	                }
	                &.active {
	                	background:#00658B;
	                	color:#fff;
	                }
	            }
	        }
	    }
	}

.tweet-container
	{
	max-width:500px;
	margin:0 auto 40px;

	}


.tweet-states
	{
	text-align:center;


		li
		{
		width:50px;
		height:50px;
		display:inline-block;
		padding-top:4px;
		background-color:$lightg;
		border-radius:2px;
		transition:background-color .2s ease-in;

			&:hover
			{
			background-color:$hover;
			}


		a
		{
		background:none;
		}

		svg
		{
		height:37px;
		}

		}

	.active-pick
	{

		&:hover
		{
		background-color:$blue;
		cursor:default;
		}

	&:first-child
		{
		background-color:#6B8E23;
		}


		&:nth-child(2)
		{
		background-color:#FFD700;
		}

		&:nth-child(3)
		{
		background-color:#B22222;
		}

	}


	}


	.thumbsup, .thumbsdown, .maybe
	{
	fill:white;
	height:40px;
	}


	.watcher
	{
	}


	.watcher-name
	{
	font-size:20px;
	text-align:center;
	a
	{
	background-image:none;
	}

	}

	.user-icon
	{
	display:inline-block;
	margin:0 8px 0 0;
	}
 
	.user
	{
	fill:$hover;

	}


.watcher-keywords
	{
	text-align:center;
	margin:0 0 40px;

	font-size:em(20);


		span
		{
		font-weight:$bold;
		color:$med;
		text-transform:uppercase;
		font-size:em(14);

		}


	}

.keywords-list
	{
	@extend .add-new-head;
	font-size:em(22);
	margin-bottom:12px;
	}

.keywords
	{
	margin:0 0 40px;
	text-align:center;

	}


.show-topper
	{
	border-bottom:1px solid $lightg;
	margin:0 0 40px;
	padding:0 0 20px;

	}


.back-links
	{
	text-align:center;

	a
	{
	@extend .button;
	@extend .small-button;
	background-color:$med;
	
		&:hover
		{
		background-color:$hover;
		
		}
	


		&:nth-child(2)
		{
		background-color:$med;

			&:hover
			{
			background-color:$hover;

			}

		}

	}

	}

.editing-head
	{
	@extend .watchers-list-head;
	}


.field_with_errors
	{
	width:100%;
	background-color:transparent;

		.form-field
		{
		border:2px solid $hover;
		}

		.form-label
		{
		color:$hover;
		}

	}


#error_explanation
	{
	width:100%;
	border:0px;
	padding:0px;
	background-color:transparent;
	margin-bottom:20px;

	h2
	{
	font-size:em(16);
	background-color:transparent;
	color:$dark;
	padding:0px;
	margin:0 0 12px;
	}

	}

.errors
	{

		li
		{
		list-style-type:none !important;
		font-size:em(16) !important;
		margin:0 0 8px 0 !important;
		}

	}


.header
	{
	height:160px;
	margin:0 0 60px;

		a
		{
		color:$hover;
		background-image:none;
		}

	}

.site-name
	{
	border:1px solid $lightg;
	max-width:500px;
	text-align: center;
	font-size:em(100);
	margin:40px auto;
	line-height:100%;
	padding:20px 60px 30px;
	border-radius:3px;
	box-shadow:2px 1px 1px rgba($med, .6);
	}

.footer
	{
	width:100%;
	background-color:$lightg;
	height:auto;
	margin:80px 0 0 0;
	padding:40px 0;
	}

.svg-container
	{
	display:none;

	}

#notice
	{
	color:$dark;
	text-align:center;
	font-size:em(18);
	margin:0 0 40px;
	}

.footer-notes
	{
	max-width:600px;
	margin:0 auto 60px;
	text-align:center;

	}

.footer-header
	{
	font-weight:$bold;
	font-size:em(18);
	text-align:center;
	}

.team-list
	{
	max-width:650px;
	text-align:center;
	margin:0 auto 40px;

	li
	{
	@include spanner_too (7, 700, 0, 1);
	display:inline-block;
	margin-left:-5px;
	text-align:center;

		&:nth-child(8)
		{
		margin-right:0px;
		}

	.twitter-icon
	{
	width:50px;
	height:50px;
	margin:0 auto 5px;

		img
		{
		width:100%;
		width:50px;
		height:50px;
		}
	}

	.twitter-name
	{
	font-weight:$bold;
	text-align:center;
	font-size:em(12);
	margin:0 0 0 0;
	background-image:none;
	}

	}



	}

