<!DOCTYPE html>
<html>
<head>
  <title>Legit</title>
  <meta name="description" conent="Legit helps news room teams identify & verify information from social media about breaking news events.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
